<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="https://forms.gle/fEtN2mKr8K7NuX6MA" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Session 1</td>        <!-- time    -->
        <td>Introduction to Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Session 2</td>        <!-- time    -->
        <td>Introduction to Data Analysis and Visualization in R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>End</td>
        <td><a href="https://forms.gle/eC8GJfbruMmP2B776" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
